# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Reading the CSV Files

In [2]:
train_df = pd.read_csv('../datasets/train.csv')
test_df = pd.read_csv('../datasets/test.csv')

In [3]:
train_df.shape, test_df.shape

((750000, 10), (250000, 9))

In [11]:
train_df.head()

,id,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,0,37,70,36,Clayey,Sugarcane,36,4,5,28-28
1,1,27,69,65,Sandy,Millets,30,6,18,28-28
2,2,29,63,32,Sandy,Millets,24,12,16,17-17-17
3,3,35,62,54,Sandy,Barley,39,12,4,10-26-26
4,4,35,58,43,Red,Paddy,37,2,16,DAP

In [12]:
test_df.head()

,id,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous
0,750000,31,70,52,Sandy,Wheat,34,11,24
1,750001,27,62,45,Red,Sugarcane,30,14,15
2,750002,28,72,28,Clayey,Ground Nuts,14,15,4
3,750003,37,53,57,Black,Ground Nuts,18,17,36
4,750004,31,55,32,Red,Pulses,13,19,14

In [13]:
train_df.isnull().sum(), test_df.isnull().sum()

(id                 0
 Temparature        0
 Humidity           0
 Moisture           0
 Soil Type          0
 Crop Type          0
 Nitrogen           0
 Potassium          0
 Phosphorous        0
 Fertilizer Name    0
 dtype: int64,
 id             0
 Temparature    0
 Humidity       0
 Moisture       0
 Soil Type      0
 Crop Type      0
 Nitrogen       0
 Potassium      0
 Phosphorous    0
 dtype: int64)

In [14]:
train_df.duplicated().sum(), test_df.duplicated().sum()

(np.int64(0), np.int64(0))

In [15]:
df_merged = pd.merge(train_df.drop(columns = 'Fertilizer Name'), test_df, how = 'outer')

In [16]:
df_merged.shape

(1000000, 9)